{$SITE_ADDRESS::80}

handle /api/* {
	@has_auth expression `"{env.TR_AUTH_TOKEN}" != ""`
	request_header @has_auth Authorization "Bearer {env.TR_AUTH_TOKEN}"
	reverse_proxy {$TR_ENGINE_URL:tr-engine:8000} {
		flush_interval -1
	}
}

handle {
	root * /var/www/html
	try_files {path} /index.html
	file_server
	encode gzip
}
